<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://www.restapii.xyz</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>wbm6.my-hosting-panel.com</MSDeployServiceURL>
    <DeployIisAppPath>restapii.xyz</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>restapii.xyz_dploy</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RestApii2Context" Order="2" Enabled="True">
          <Destination Path="Data Source=wdb2.my-hosting-panel.com;Initial Catalog=atividad_restapii2;User ID=atividad_sa;Password=sa123;Encrypt=False;TrustServerCertificate=False" Name="Data Source=wdb2.my-hosting-panel.com;Initial Catalog=atividad_restapii2;User Id=atividad_sa;Password=sa123; encrypt=false; TrustServerCertificate=false" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="restapii2.Context.RestApii2Context, restapii2" MigrationConfiguration="restapii2.Migrations.Configuration, restapii2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RestApii2Context-Web.config Connection String">
      <ParameterValue>Data Source=wdb2.my-hosting-panel.com;Initial Catalog=atividad_restapii2;User Id=atividad_sa;Password=sa123; encrypt=false; TrustServerCertificate=false</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>